@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&family=Poppins:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, section, p, span, svg{
  transition: background-color 0.3s, color 0.3s;
}

:root{
  --color-text-light: rgb(26, 26, 26);
  --color-background-light: rgb(236, 170, 48);
  --color-blue-light: rgb(88, 88, 197);
  --color-green-light: #7cceac;
  --color-pink-light: #e8a1abfa;

  --color-text-dark:  rgb(236, 170, 48);
  --color-background-dark: rgb(88, 88, 197);

}
.light-theme{
  --color-text: var(--color-text-light);
  --color-background: var(--color-background-light);
  --color-pink:var(--color-pink-light);
  --color-green:var(--color-green-light);
  --color-blue:var(--color-blue-light);
}
.dark-theme{
  --color-text: var(--color-text-dark);
  --color-background: var(--color-background-dark);
  --color-pink:var(--color-text-dark);
  --color-green:var(--color-text-dark);
  --color-blue:var(--color-text-dark);
}
.logo{
  cursor: pointer;
  display: flex;
}
.navgator{
    display: flex;
    font-family: "Poppins",sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    color: #fff;
    width: 100%;
}
.nav-item{
  border-bottom: 2px var(--color-text) solid;
margin-left: 20px;
margin-right: 20px;
box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;}

.experience{
  position: fixed;
  width: 100vw;
  height: 100vw;
}
.experience-canvas{
  width: 100%;
  height: 100%;
}
.page{
  z-index: 999999;
  width: 100%;
  height:100%;
  overflow: hidden;
}

.page-wrapper{
  position: relative;
}
.swiper {
  padding-top: 100px;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-top:20px;
  padding-right: 10px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
bottom: -60px;
left: 0;
width: 100%;
}

.swiper-slide img:hover{
box-shadow: 0px 8px 8px rgb(0 0 0 / 10%);

}
@-webkit-keyframes ani_swp{
  0%{
      -webkit-transform: translate(200px,-80px) skewY(8deg);
              transform: translate(200px,-80px) skewY(8deg);
  }
  50%{
      opacity: 1;
  }
  99.9%, to{
      -webkit-transform: translate(0) skewY(8deg);
              transform: translate(0) skewY(8deg);
      opacity: 1;
      pointer-events: auto;
  }
  }
  @keyframes ani_swp{
  0%{
      -webkit-transform: translate(200px,-80px) skewY(8deg);
              transform: translate(200px,-80px) skewY(8deg);
  }
  50%{
      opacity: 1;
  }
  99.9%, to{
      -webkit-transform: translate(0) skewY(8deg);
              transform: translate(0) skewY(8deg);
      opacity: 1;
      pointer-events: auto;
  }
  }

@keyframes move{
0%{
  transform: translate(0px,0px) rotate(0deg);
  opacity: 0.5;
}
100%{
  transform: translate(660px,660px) rotate(450deg);
  opacity: 0.5;
}
}
@keyframes obli {
  0%{
      transform-origin:center ;
  transform: rotate(0deg);
  

}
50%{
  transform-origin: center ;
  transform:rotate(360deg);

}
100%{
  transform:translateX(1250px);
}

}
.swiper-container-horizontal{
  animation-name:ani_swp;
  animation-duration: 200s;
  animation-iteration-count:infinite;

}
.hero{
  width: 100vw;
  height: 100vh;
}
.hero-wrapper{
  position: relative;
  height: 100%;
  width: calc( 100% - 426px);
  margin: 0 auto;
  max-width: 1100px;
}
.hero-main{
  position: absolute;
  font-family: "Poppins",sans-serif;
  bottom: 256px;
  left: calc( 30% - 100px);
  color : var(--color-text);
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
}
.hero-second{
  position: absolute;
  font-family: "Poppins",sans-serif;
  top:calc(50% - 120px);
  right:calc(16% - 100px);
  color : var(--color-text);
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
}
.hero-mian-title{
  font-size: 64px;
  color : var(--color-text);
}
.hero-mian-description{
  font-size: 32px;
  color : var(--color-text);
}
.hero-second-subheading{
  font-size: 21px;
  text-transform: uppercase;
  color : var(--color-text);
}

.section-margin{
  height: 3000px;
  width: 100%;
}
.section{
  position: relative;
  width: 50%;
  padding:1000px 4%;
  margin: 0;
  background-color: var(--color-background);
  overflow: hidden;
}
.left{
  margin-right: auto;
  border-top-right-radius:  720px 720px;
  border-bottom-right-radius: 0px 0px;
}
.right{
  margin-left: auto;
  border-top-left-radius:  720px 720px;
  border-bottom-left-radius: 0px 0px;
}

.section-intro-wrapper{
  position: relative;
  padding: 20% 5%;
  border-bottom: 2px solid var(--color-blue);
  padding-bottom: 400px;
}
.section-detail-wrapper{
  position: relative;
  font-family: "Poppins",sans-serif;
  padding: 20% 5%;
}
.section-heading{
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 64px;
  color : var(--color-text);
}

.section-text{
  line-height: 2;
  margin-top: 18px;
  font-size: 16px;
  color : var(--color-text);
}
.section-title{
  position: relative;
  color: var(--color-blue);
}
.section-title-text{
  display: block;
  font-family: "Poppins",sans-serif;
  font-size: 40px;
  font-weight: 500;
  transform-origin: left;
  transform: skewY(13deg);
  z-index:5;
  text-transform: uppercase;
  color : var(--color-blue);
}
.styleOne,.styleTwo,.styleThree{
  position: absolute;
  display: block;
  width: 100%;
  max-width: 278px;
  height: 60px;
  border:1px solid var(--color-blue);
  transform-origin: left;
  transform: skewY(-13deg);
}
.styleOne{
  top:0px
}
.styleTwo{
  top: 80px;
}
.styleThree{
  top: 80px;
  transform: skewY(13deg);
  background-color: var(--color-blue);
}
.section-number{
  position: absolute;
  bottom: 15px;
  right:0;
  color: var(--color-blue);
  font-size: 24px;
}
.toggle-bar{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 48px;
  right:48px;
  z-index: 9999999999;
}
.sunwrapper, .moonwrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
svg{
  color : var(--color-text);
  fill: currentColor;
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
}
.toggle-button{
  cursor: pointer;
  position: relative;
  width: 56px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue);
  border-radius: 999px;
  margin: 0px 16px;
  border : none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.toggle-circle{
  position: absolute;
  left: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--color-background);
  transition: all 0.2s ease-in-out ;
}
.toggle-button:hover .toggle-circle{
  transform: scale(0.9);
}
.slide{
  left:28px;
}
.pink-text{
  color: var(--color-pink);
}
.pink-border{
  border-color: var(--color-pink);
}
.pink-background{
  background-color: var(--color-pink);
}

.green-text{
  color: var(--color-green);
}
.green-border{
  border-color: var(--color-green);
}
.green-background{
  background-color: var(--color-green);
}
.progress-wrapper{
  height:0;
  width: 12px;
  z-index:9999
}
.progress-bar-wrapper-left{
  position: absolute;
  top:0;
  left:0;

}
.progress-bar-wrapper-right{
  position: absolute;
  top:0;
  right:0;
  
}
.progress-bar{
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: var(--color-blue);
  transform-origin: top center;
  transform: scale(1);
}
.nav-item{
  border-radius: 3px;
}
.l-footer__main-bottom{
  display: flex ;
  position: relative;
  z-index: 99999999999;
  justify-content: center;
  margin-top: 10px;
  padding-top:30px;
  border-top: 1px solid #bebebe;
}
.l-footer__main-bottom__nav {
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.aa>a{
  color:#223344;
  padding-left: 40px;
}
.aa>a:hover{
  color: #fd920c ;
}
.copyright{
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 99999999999;
}
ul {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
  padding-left: 0;
}


@media (max-width :968px) {
  .section{
    width:100%;
  }
  .progress-bar-wrapper-left{
   right:0;
  left:auto;
  }
}
@media screen and (max-width: 1122px){
  .hero-second{
  top: calc(70% - 120px);
    right: calc(16% - 100px);}
  
}
@media screen and (max-width: 735px){
  .hero-main{
    bottom: 200px;
    left: calc( 30% - 150px);} 
}